# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
*.local

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Emulator data
emulator-data/
serviceAccountKey.json
.env.functions
